---
import Badge from "./Badge.astro";
---

<div class="flex gap-3 items-center">
    <Badge text="Todos" active={true} />
    <Badge text="Música" active={false} />
    <Badge text="Podcasts" active={false} />
</div>