---
import { HomeIcon } from '@heroicons/react/24/solid';
import { MagnifyingGlassIcon } from '@heroicons/react/24/outline';
import { Squares2X2Icon } from '@heroicons/react/24/outline';
---


<div class="px-14 flex justify-between">
    <a href="/" class="flex flex-col min-w-14 items-center gap-1">
        <HomeIcon className='w-7 h-7' />
        <span class="text-xs">Inicio</span>
    </a>
    <a href="/" class="flex flex-col min-w-14 items-center gap-1 text-gray-400">
        <MagnifyingGlassIcon className='w-7 h-7' />
        <span class="text-xs">Buscar</span>
    </a>
    <a href="/" class="flex flex-col min-w-14 items-center gap-1 text-gray-400">
        <Squares2X2Icon className='w-7 h-7' />
        <span class="text-xs">Biblioteca</span>
    </a>
</div>