---
import { 
    ArrowsRightLeftIcon, 
    SpeakerWaveIcon,
    DeviceTabletIcon,
    PlusCircleIcon
} from "@heroicons/react/24/outline";

import { PlayIcon, BackwardIcon, ForwardIcon } from "@heroicons/react/24/solid";

import { albumsData } from "../lib/albums";
---


<div class="justify-between h-full mx-auto flex items-center px-4 bg-indigo-950">

    <div id="player-info" class="flex gap-2 items-center">
      <div class="w-10 h-10 md:w-14 md:h-14 rounded-md bg-gray-800 flex items-center justify-center">
        <img src={albumsData[0].cover} alt="album cover" class="rounded-md" />
      </div>
      <div class="flex flex-col">
        <span class="text-sm md:text-base font-semibold">
          {albumsData[0].tracks[12].title}
        </span>
        <span class="text-xs text-gray-300">{albumsData[0].artist}</span>
      </div>
    </div>
  
    <div id="player-progress" class="w-full max-w-lg hidden md:flex flex-col gap-2 items-center">
      <div class="flex gap-3 text-gray-400 items-center">
        <button class="hidden md:block">
          <BackwardIcon className="w-6 h-6 hover:scale-105 hover:text-white transition duration-200" />
        </button>
        <button>
          <PlayIcon className="w-6 h-6 text-white hover:scale-105 transition duration-200" />
        </button>
        <button class="hidden md:block">
          <ForwardIcon className="w-6 h-6 hover:scale-105 hover:text-white transition duration-200" />
        </button>
      </div>
      <div id="progress-bar" class="hidden md:block w-full h-1 bg-gray-700 rounded-md mt-2">
        <div class="bg-green-500 h-1 rounded-md" style="width: 50%;"></div>
      </div>
    </div>
  

    <div id="player-controls" class="text-gray-400 hidden md:flex gap-2 items-center">
        <button>
          <ArrowsRightLeftIcon className="w-6 h-6 hover:scale-105 hover:text-white transition duration-200" />
        </button>
        <button>
            <DeviceTabletIcon className="w-6 h-6 hover:scale-105 hover:text-white transition duration-200" />
        </button>
        <button>
            <SpeakerWaveIcon className="w-6 h-6 hover:scale-105 hover:text-white transition duration-200" />
        </button>        
        <input
            type="range"
            min="0"
            max="100"
            value="50"
            class="w-24 h-1 bg-gray-700 rounded-md appearance-none cursor-pointer"
        />
    </div>
  
    <!-- Mobile Player Controls -->
    <div id="mobile-player-controls" class="md:hidden flex gap-2 items-center">
      
      <button>
        <DeviceTabletIcon className="w-6 h-6 text-gray-400" />
      </button>
      <button>
        <PlusCircleIcon className="w-6 h-6 text-gray-400" />
      </button>
      <button>
        <PlayIcon className="w-6 h-6 text-white" />
      </button>
    </div>
</div>